{% import "_parts.j2" as p %}{{ p.slide_open() }}{{ p.top_row(s.label) }}<div style="margin-top:56px">{{ p.headline(s.headline, s.headline_gold, 84) }}</div>{{ p.numbered_rows(s.items) }}{{ p.footer() }}</div>
